<p id="notice"><%= notice %></p>
 
<p>
  <b>Nome:</b>
  <%= @caracteristica.nome %>
</p>

 
<%= link_to 'Editar', edit_caracteristica_path(@caracteristica) %> |
<%= link_to 'Voltar', caracteristicas_path %>